{% for comment in comments %}
    <ul class="list-unstyled text-left shadow" style="background-color: #f0f0f0; padding: 5px">
        <li class="card-link" style="background-color: #F9f9f9">
        <h5 class="mt-0 mb-1"><b>{{comment.user.name}} {{comment.user.lastname}}</b>
            <small>(<b>{{comment.createdat|ago}}</b>)
            {% if app.user and app.user.id == comment.user.id %}
                { <a href="{{path('delete_comment',{'comment':comment.id})}}">
                    <i>delete</i>
                </a> }
            {% endif %}
            </small>
        </h5>
    </li>
        <li class="media">
            <img class="mr-3" src="{{asset('assets/img/user.png')}}"  width="100px">
            <div class="media-body">
                {{comment.content}}
            </div>
        </li>
    </ul>
{% endfor %}

