{% extends 'admin/base.html.twig' %}

{% block mainadmin %}
    <h2>{ Users }</h2>

    <div class="table-responsive">
        <table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
            <td>{{loop.index}}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td><a href="{{path('delete_user', {'user': user.id})}}" onclick="return confirm('Are you sure?');"> <i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% endblock %}