{% extends 'base.html.twig' %}
{% block main %}
    <div class="container-fluid mt-lg-5">
        <div class="row mt-lg-5">
        </div>
        <div class="row mt-lg-5">
            {{ include('front/includes/_cart.html.twig') }}
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Register first (free)</h4>
                {{ form_start(form,{'attr': {'class':'needs-validation'}}) }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="user_name">Name</label>
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="user_last_name">Last name</label>
                        {{ form_widget(form.last_name, {'attr': {'class': 'form-control'}}) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.last_name) }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user_email">Email</label>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email@example.com'}}) }}
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user_password_first">Password</label>
                    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        Please enter a valid password.
                        {{ form_errors(form.password.first) }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="user_password_second">Repeat Password</label>
                    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                    <div class="invalid-feedback">
                        Please enter a valid password confirmation.
                        {{ form_errors(form.password.second) }}
                    </div>
                </div>
                <hr class="mb-4">
                <div class="my-5">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-violet btn-lg btn-block'}}) }}

                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}


