{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/video_list.css')}}">
{% endblock %}
{% if video_no_members is not null %}
    {% set videoid = video_no_members %}
{% else %}
    {% set videoid = video.path %}
{% endif %}
{% block main %}
<div class="container-fluid offset-md-2" style="padding-top: 80px">
    <div class="row">
        <div class="col-md-10" >
          <h2>{{video.title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <video width="100%" height="auto" controls>
                <source src="{{videoid}}" type="video/mp4">
            </video>
        </div>
        <div class="col-md-4 ">
            <p><b>Uploaded by:</b>  {{ video.user.name }}</p>
            <p><b>Rates: </b> {{ video.usersrate.count }}</p>
            <p><b>Duration: </b> {{ video.duration }} minutes</p>
            <p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
                    {{ include('front/includes/_likes.html.twig') }}
                {% endif  %}
            </p>
        </div>
    </div>


{#    #}
{#    <br>#}
{#    <h1>{{video.title}}</h1>#}
{#    <div align="center" class="embed-responsive embed-responsive-16by9">#}
{#        <video width="80px%" height="auto" controls>#}
{#            <source src="{{videoid}}" type="video/mp4">#}
{#        </video>#}
{#    </div>#}

{#    <hr>#}

    <div class="row">
        <div class="col-md-6">
        {{ include('front/includes/_comments.html.twig')}}
        {{ knp_pagination_render(comments) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pb-5">
            <form method="POST" action="{{ path('create_comment', {'video':video.id}) }}">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Write your comment</label>
                    <textarea required name="comment" class="form-control green" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-violet btn-md btn-block">Add</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}
