{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/video_list.css')}}">
{% endblock %}
{% block main %}
    <div class="container-fluid" style="padding-top: 50px">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column" style="padding-top: 25px">
                        <li class="nav-item">
                                    <b> Subcategories: </b>
                        </li>
                        {{ subcategories.categorylist|raw }}
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

                    <div class="text-left float-left">
                    <a style="color: #222222" href="{{ path('video_list', {'category':subcategories.mainParentName, 'id':subcategories.mainParentId} ) }}">
                        <i class="h2">{ {{ subcategories.mainParentName }} }</i>
                    </a>
                        {% if subcategories.currentCategoryName != subcategories.mainParentName %}

                    <a style="color: #222222" href="{{ path('video_list', {'category':subcategories.currentCategoryName, 'id':subcategories.currentCategoryId} ) }}">
                    <i class="h2">{ {{ subcategories.currentCategoryName }} }</i>
                    </a>

                        {% endif %}
                    </div>

                    <div class="btn-toolbar mb-2 mb-md-0">
                        {{ include('front/includes/_sort.html.twig') }}
                    </div>
                </div>
                {{ knp_pagination_render(videos) }}
                <div class="row" style="padding-bottom: 150px">
                    {{ include('front/includes/_videos_list.html.twig', {'videos': videos}) }}
                </div>
            </main>
        </div>
    </div>
    </div>
{% endblock %}