<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}
    <title>
        {% block title %}VideoProj - Videos hosting and sharing service{% endblock %}
    </title>
</head>
<body>
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="text-left float-left">
        <a class="navbar-brand" href="{{ path('home') }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-video-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.667 3h6.666C10.253 3 11 3.746 11 4.667v6.666c0 .92-.746 1.667-1.667 1.667H2.667C1.747 13 1 12.254 1 11.333V4.667C1 3.747 1.746 3 2.667 3z"/>
                <path d="M7.404 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.693-1.01-1.233-.696L7.404 7.304a.802.802 0 0 0 0 1.393z"/>
            </svg>
            VideoProj
        </a>
    </div>
        <form method="GET" class="form-inline my-0 mr-md-auto" action="{{ path('search')}}">
            <input name="query" class="form-control mr-sm-2" type="search" placeholder="video title" aria-label="Search video">
            <button class="btn btn-outline-violet-light my-2 my-sm-0" type="submit">Search video</button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="container">

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {{ render(controller("App\\Controller\\FrontController::categoriesList", { 'id': app.request.get('id') })) }}
                {% if app.user %}
                        <li class="nav-link admin">
                            <a href="{{ path('admin_profile')}}">@{{ app.user.name }}
                            </a>
                        </li>
                    <li class="nav-link admin">
                        <a href="{{ path('logout')}}"> Logout
                        </a>
                    </li>
                {% else %}
                        <li class="nav-link admin">
                            <a href="{{ path('pricing')}}">Sign up</a>
                        </li>
                        <li class="nav-link admin" >
                            <a href="{{ path('login')}}">Sign in</a>
                        </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
<!-- Page Content -->
{% block main %}{% endblock %}
<!-- /.container -->
{% block footer_links %}
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; VideoProj 2020</p>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
</body>
</html>
